body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #000000, #1f001d);
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
body.loaded {
    opacity: 1;
}

.container {
    padding: 20px;
    max-width: 100%;
    background: linear-gradient(to bottom right, #000000, #1f001d);
}

.profile-img {
    width: 40vw;
    max-width: 180px;
    height: 180px;
    border-radius: 25%;
    margin-top: 20px;
    transition: transform 0.3s;
}

.profile-img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px 5px #c400eb;
}

.social-links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #c400eb;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

.social-links a:hover {
    background-color: #86008f;
    transform: scale(1.05);
    box-shadow: 0 0 15px 5px #c400eb;
}

.info {
    margin-top: 20px;
    padding: 15px;
    background: linear-gradient(to bottom right, #050505, #360032);
    border-radius: 10px;
    transition: transform 0.3s;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.info:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px 5px #c400eb;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
        
.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    width: 160px;
    transition: transform 0.3s;
    cursor: pointer;
}
.social-button:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px 5px #c400eb;
}

.social-button img {
    width: 20px;
    height: 20px;
}
.controls { margin-top: 10px; display: flex; gap: 10px; }

.youtube { background-color: #FF0000; }
.instagram { background-color: #C13584; }
.tiktok { background-color: #000000; }
.twitch { background-color: #9146ff; }
.pinterest { background-color: #E60023; }

.video-container {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.an{
    text-align: left;
    margin: 10px;
    padding: 10px;
    opacity: 10px;
}

#youtube-subs {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff0000;
  margin-top: 10px;
}
html {
  scroll-behavior: smooth;
}

@media (max-width: 600px) {
    .social-button {
        width: 100%;
        font-size: 14px;
    }

    .profile-img {
        width: 50vw;
    }

    .info {
        padding: 10px;
    }
}




